## Datan analysointi K2020_2 - Tehtävät kerta 2

Palauta Optiman palautuslaatikkoon viimeistään su 2.2.  Kirjoita palautuslaatikon kommenttikenttään, mitä tehtävät olet tehnyt kokonaan/osittain.

**Tee tehtävät ilman for-silmukoita tms.**

**Opiskelijan nimi**: Jere Pesonen M3227

## 1. Pelaajat

Lue tiedosto https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta2/nhl1.csv DataFrameen siten, että otat mukaan vain seuraavat sarakkeet ja vaihda sarakkeiden otsikot suluissa oleviksi suomenkielisiksi:  
  * Player      (pelaaja)
  * Team        (joukkue)
  * Birth City  (syntymäkaupunki)
  * Ntnlty      (kansalaisuus)    
  * Ht          (pituus)  
  * Wt          (paino)
  * Overall     (varausnro)  
  * GP          (pelit)
  * G           (maalit)
  
Pituus on tuumina, muunna se senttimetreiksi kertomalla 2,54:llä.  

Paino on nauloina, muunna se kilogrammoiksi kertomalla 0,453592:llä ja pyöristämällä tulos 0,1 kg tarkkuuteen.

Luo uusi sarake jossa on paino-tiedon perusteella "painoluokka" 5 kg välein lokeroituna. (Lue ensin datasta suurin ja pienin paino)

Laske sitten kuhunkin painoluokkaan kuuluvien rivien määrä Serieksen `value_counts()`-metodilla.

Tulosta lopuksi ne pelaajat joiden syntymäkaupunki on Jyväskylä (kaikki sarakkeet).

In [2]:
import pandas as pd
df = pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta2/nhl1.csv', 
                 usecols = ['Player', 'Team', 'Birth City', 'Ntnlty', 'Ht', 'Wt', 'Overall', 'GP', 'G'],
                 converters = {'Ht':(lambda x : float(x)*2.54), 'Wt':(lambda x : round(float(x)*0.453592, 1))}, # muutetaan naulat ja tuumat 
                 )
df.rename(columns = {'Player':'Pelaaja', 'Team':'Joukkue','Birth City':'Syntymäkaupunki', 'Ntnlty':'Kansalaisuus', 'Ht':'Pituus', 'Wt':'Paino', 'Overall':'Varausnro', 'GP':'Pelit', 'G':'Maalit'}, inplace = True) # vaihdetaan sarakeotsikot
lokerot = [65,70,75,80,85,90,95,100,105,110,115,120] # luodaan painoluokan lokerot
luokat = ['65-70', '70-75', '75-80', '80-85', '85-90', '90-95', '95-100', '100-105', '105-110', '110-115', '115-120'] # luodaan painoluokat
df['Painoluokka'] = pd.cut(df['Paino'], lokerot, labels=luokat) # luodaan painoluokka sarake, ja asetetaan pelaajien painon mukaan
df[df['Syntymäkaupunki'].str.contains("Jyväskylä")] # tulostetaan vain ne pelaajat, joiden syntymäkaupunki on jyväskylä

,Pelaaja,Joukkue,Syntymäkaupunki,Kansalaisuus,Pituus,Paino,Varausnro,Pelit,Maalit,Painoluokka
478,Olli Maatta,CHI,Jyväskylä,FIN,187.96,93.4,22,41,3,90-95
788,Sami Vatanen,NJD,Jyväskylä,FIN,177.80,83.9,106,41,5,80-85

## 2. Arvosanat
Tiedostossa http://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta2/pisteet.txt on 1000 opiskelijan (kuvitteelliset) kurssisuoritukset. Lue tiedosto DataFrameen ja tee uusi sarake arvosana, joka määräytyy yhteispistemäärästä (teht1+teht2+teht3+labra1+labra2) seuraavan taulukon mukaan

Pisteitä vähintään | arvosana
--------------|--------------
    8|1
    12|2
    16|3
    19|4
    22|5
   
Mutta jos pistemäärä on vähemmän kuin 8 tai labrapistemäärä yhteensä (labra1+labra2) on vähemmän kuin 2, arvosanaksi tulee 0.

Tulosta sitten arvosanojen lukumäärät Serieksen value_counts()-metodilla.

pitäisi tulla määrät:

arvosana|lkm
----|---
0|312
1|169
2|199
3|157
4|133
5|30

In [129]:
import pandas as pd
df = pd.read_csv('http://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta2/pisteet.txt', sep=';', decimal=',')

labrat = df['labra1'] + df['labra2'] # summataan labrojen pisteet
yhteis = df['teht1'] + df['teht2'] + df['teht3'] + df['labra1'] + df['labra2']# summataan yhteispisteet

lokerot = [0,7.5,11.5,15.5,18.5,21.5,1000]# tehdään lokerot
luokat = ['0','1','2','3','4','5'] # tehdään luokat
df['Arvosana'] = pd.cut(yhteis, lokerot, labels=luokat) # luodaan uusi sarake 'Arvosana', ja luetaan siihen arvot yhteispisteiden perusteella
df.loc[(labrat < 2), 'Arvosana'] = '0' # korvataan arvosana 0:lla jos labrojen yhteispisteen on alle 2
print(df.head(10)) # tulostetaan 10 ensimmäistä

df['Arvosana'].value_counts(sort = False) # tulostetaan arvosanojen lukumäärät

  tunnus  teht1  teht2  teht3  labra1  labra2 Arvosana
0  D3257    0.0    0.5    0.0     1.0     0.5        0
1  N9904    5.0    6.0    6.0     1.5     2.0        4
2  Q8934    0.5    0.0    0.5     3.0     0.0        0
3  X5087    1.5    1.5    0.0     2.0     1.0        0
4  N6286    6.0    6.0    3.0     1.0     2.5        3
5  T7806    3.5    4.0    4.0     1.5     1.5        2
6  O5803    0.0    0.0    1.5     1.5     1.5        0
7  H8577    1.0    0.0    0.0     2.0     2.0        0
8  A9681    4.5    6.0    4.5     1.0     1.5        3
9  B8555    6.0    6.0    6.0     2.5     2.0        5

0    312
1    169
2    199
3    157
4    133
5     30
Name: Arvosana, dtype: int64

## 3. Juoksut
Tiedostossa http://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta2/juoksut.txt on (kuvitteellisia) juoksukilometrejä viikottain ja viikonpäivittäin taulukoituna.

Lue tiedosto DataFrameen ja:  
  * korvaa puuttuvat arvot nollalla
  * laske ja tulosta viikonpäivien (Mon, Tue, ...) mukaan keskiarvot (mean) juoksukilometreistä (ma pitäisi olla 9,58846...)
  * lisää DataFrameen sarake "yht", jossa on viikon kilometrit laskettu yhteen
  * lisää sarake "kerrat", jossa on kuinka monena päivänä ko. viikolla on kilometrejä > 0
  * lisää sarake "kova", jossa on True jos viikon kokonaiskilometrit on vähintään 75  TAI viikolla on vähintään kolme päivää joissa on vähintään 12 kilometriä
  * laske ja tulosta montako "kova"-viikkoa on ollut (pitäisi olla 17)

In [128]:
import numpy as np
import pandas as pd
df = pd.read_csv('http://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta2/juoksut.txt', sep='|', decimal =',')
df.fillna(0, inplace=True) # korvaa puuttuvat arvot nollalla
df = df.set_index('week')
df2 = df.copy()
print(df.mean()) # tulostetaan viikonpäivinen keskiarvot
print('-'*55)

df['kerrat'] = df.apply(lambda x: x[x>0].count(), axis=1) # tehdäänä sarake kerrat, johonlasketaan kerrat kun kilometrimäärä on yli 0
df['yht'] = df.sum(axis =1) - df['kerrat'] # tehdään sarake yht, johonlasketaan viikon kilometrimäärä yhteen (kerrat pitää miinustaa)
df['kova'] = (df['yht'] >= 75) | (df2[df2 > 12].count(axis = 1)  >= 3) # tehdään sarake kova, johon lasketaan lukumäärä, kun viikon aikana on juostu yli 75 kilometirä, tai kolme kertaa yli 12

print(df.head(10))
print('-'*55)

df['kova'].value_counts() # lasketaan kova. viikkojen lukumäärä

Mon    9.588462
Tue    8.178846
Wed    8.169231
Thu    8.311538
Fri    9.153846
Sat    8.253846
Sun    6.411538
dtype: float64
-------------------------------------------------------
       Mon   Tue   Wed   Thu   Fri   Sat   Sun  kerrat   yht   kova
week
1     11.4   7.9  15.9  13.0  13.7  10.6   8.6       7  81.1   True
2      5.2   4.0   9.1   8.6   5.1   5.4   8.0       7  45.4  False
3      4.0  11.5  10.7   4.0  17.3   4.0  10.2       7  61.7  False
4     12.5   0.0   4.7  12.4   8.3  12.2   0.0       5  50.1   True
5     24.8   0.0   8.3   8.6   5.5  11.5   0.0       5  58.7  False
6     15.8   0.0   0.0   9.1  11.0   0.0   4.0       4  39.9  False
7      0.0  14.3  14.1   9.7   6.4  15.4   0.0       5  59.9   True
8      7.4   7.8   0.0  15.0   6.3   5.6   7.5       6  49.6  False
9     16.4   0.0  10.4   0.0   0.0   0.0  13.9       3  40.7  False
10     8.4   7.8   0.0  16.1   7.7   9.0  18.8       6  67.8  False
-------------------------------------------------------

False    35
True     17
Name: kova, dtype: int64

## 4. NHL
Tiedostossa http://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta2/nhl.txt on NHL:n runkosarjan ottelutulokset kaudesta 2010-2011 kauteen 2018-2019.

outcome -sarakkeessa on merkintä REG, jos ottelu on päättynyt varsinaisella peliajalla, OT jos jatkoajalla ja SO jos ottelu on päättynyt vasta voittomaalikilpailussa.

Voittanut (enemmän maaleja tehnyt joukkue) saa 2 pistettä ja hävinnyt 0 pistettä, paitsi jos ottelu on ratkennut vasta jatkoajalla tai voittomaalikilpailussa, hävinnyt joukkue saa yhden pisteen.

Laske kuinka monta pistettä WPG (Winnipeg Jets)  on saanut tiedoston otteluista.  (pitäisi olla 696)  
Laske kuinka monta pistettä EDM (Edmonton Oilers) on saanut tiedoston otteluista.

In [127]:
import numpy as np

df = pd.read_csv('http://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta2/nhl.txt', sep=',')
df2 = df.copy()

maalit = df['goals'].str.split("-", n=1, expand=True) # splitataan maalit väliviilalla, jotta voidaan tutkia kumpi teki enemmän maaleja
joukkue = df['game'].str.split("-", n=1, expand=True) # splitataan joukkueet väliviivalla, jotta voidaan tutkia pelaavia joukkueita

df['voittaja'] = np.where(maalit[0] > maalit[1], joukkue[0], joukkue[1]) # luodan uusi sarake voittaja
df['häviäjä'] = np.where(maalit[0] > maalit[1], joukkue[1], joukkue[0]) # luodan uusi sarake häviäjä
df.voittaja = df.voittaja.str.replace(' ', '') # poistetaan välilyönnit
df.häviäjä = df.häviäjä.str.replace(' ', '')

wpgpisteet = [ # laaditaan ehdot winnipegin pisteille
    (df['voittaja'] == 'WPG'),
    (df['outcome'] != 'REG') & (dfwpg['häviäjä'] == 'WPG')]
edmpisteet = [ # laditaan ehdot edmontonin pisteille
    (df['voittaja'] == 'EDM'),
    (df['outcome'] != 'REG') & (dfwpg['häviäjä'] == 'EDM')]
valinnat = [2, 1] # laaditaan pistemäärät

df2['wpgpisteet'] = np.select(wpgpisteet, valinnat, default=0) # lasketaan winnipegin pisteet per peli
df2['edmpisteet'] = np.select(edmpisteet, valinnat, default=0) # lasketaan edmontonin pisteet per peli


print(df.head(10))
print('-'*55)
print('Winnipegin pisteet: ', df2['wpgpisteet'].sum())
print('Edmontonin pisteet: ', df2['edmpisteet'].sum())

    season       date       game goals outcome voittaja häviäjä
0  2010-11  7.10.2010  MIN - CAR   3-4     REG      CAR     MIN
1  2010-11  7.10.2010  PIT - PHI   2-3     REG      PHI     PIT
2  2010-11  7.10.2010  TOR - MTL   3-2     REG      TOR     MTL
3  2010-11  8.10.2010  OTT - BUF   1-2     REG      BUF     OTT
4  2010-11  8.10.2010  CBJ - SJS   2-3     REG      SJS     CBJ
5  2010-11  8.10.2010  ATL - WSH   4-2     REG      ATL     WSH
6  2010-11  8.10.2010  DET - ANA   4-0     REG      DET     ANA
7  2010-11  8.10.2010  NJD - DAL   3-4      OT      DAL     NJD
8  2010-11  8.10.2010  COL - CHI   4-3      OT      COL     CHI
9  2010-11  8.10.2010  CAR - MIN   2-1      SO      CAR     MIN
-------------------------------------------------------
Winnipegin pisteet:  696
Edmontonin pisteet:  561

## 5. Tulokset
Tiedostossa http://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta2/tulokset.txt on erään suunnistuskisan tuloksia, kenttäerottimena sarkain.
Kilpailija-kentässä on data muodossa **M10 Aaltio Aapo (KuoSu)** missä  
  * M = sukupuoli (M tai N)  
  * 10 = matka (10, 15 tai 25)  
  * Aaltio = sukunimi  
  * Aapo = etunimi  
  * KuoSu = seura. Seura voi myös puuttua, jolloin kentässä ei ole myöskään sulkuja  

Nimi voi olla myös 3-osainen (esim. **M15 af Hällström Fabian (OK77)**). Näissä kaksi ensimmäistä osaa kuuluvat sukunimeen ja kolmas etunimeen.

Lue tiedot DataFrameen, ja pura kilpailija-kentästä eri sarakkeisiin etunimi, sukunimi, seura, matka ja sukupuoli.

Tulosta sitten naisten 10 km nopein juoksija.  
(ajat ovat tässä siinä muodossa, että niitä voidaan lajitella sellaisinaan merkkijonoina).

In [236]:
df = pd.read_csv('http://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta2/tulokset.txt', sep='\t')

df.fillna(0)
print(df.head(10))
print('-'*55)

df['etunimi'] = df['kilpailija'].str.split("(").str.get(0).str.strip().str.split(" ").str.get(-1)
df.loc[df['kilpailija'].str.split().str.len() == 5, 'sukunimi'] = df['kilpailija'].str.split().str[1] + " " + df['kilpailija'].str.split().str[2]
df['sukunimi'].fillna(df['kilpailija'].str.split().str[1], inplace=True)

df['seura'] = df['kilpailija'].str.split("(").str.get(1).str.split(")").str.get(0)

df['sukupuoli'] = df['kilpailija'].str.get(0)
df['matka'] = df['kilpailija'].str.get(1) + df['kilpailija'].str.get(2)
print(df.head(10))

   kilpnro                      kilpailija loppuaika
0        3         M10 Aaltio Aapo (KuoSu)   1:24:11
1        6         M15 Aalto Tuomas (EsAk)   2:45:02
2       13  M15 af Hällström Fabian (OK77)   1:50:48
3        7           N10 Ahlfors Pia-Maria   2:06:39
4        4   N15 Ahlqvist Kristiina (Raus)   4:09:09
5       11        M10 Ahlroth Timo (TurSa)   2:07:26
6       22           M15 Ahonen Ari (HiKi)   2:24:45
7        9        M10 Ahonen Niilo (LS-37)   2:11:48
8       16      M15 Ahoniemi Rasmus (HyRa)   3:05:38
9       61     M15 Ahoniemi Santeri (HyRa)   3:17:14
-------------------------------------------------------
   kilpnro                      kilpailija loppuaika    etunimi      sukunimi  \
0        3         M10 Aaltio Aapo (KuoSu)   1:24:11       Aapo        Aaltio
1        6         M15 Aalto Tuomas (EsAk)   2:45:02     Tuomas         Aalto
2       13  M15 af Hällström Fabian (OK77)   1:50:48     Fabian  af Hällström
3        7           N10 Ahlfors Pia-Maria   2:06:39  Pia-Maria       Ahlfors
4        4   N15 Ahlqvist Kristiina (Raus)   4:09:09  Kristiina      Ahlqvist
5       11        M10 Ahlroth Timo (TurSa)   2:07:26       Timo       Ahlroth
6       22           M15 Ahonen Ari (HiKi)   2:24:45        Ari        Ahonen
7        9        M10 Ahonen Niilo (LS-37)   2:11:48      Niilo        Ahonen
8       16      M15 Ahoniemi Rasmus (HyRa)   3:05:38     Rasmus      Ahoniemi
9       61     M15 Ahoniemi Santeri (HyRa)   3:17:14    Santeri      Ahoniemi

   seura sukupuoli matka
0  KuoSu         M    10
1   EsAk         M    15
2   OK77         M    15
3    NaN         N    10
4   Raus         N    15
5  TurSa         M    10
6   HiKi         M    15
7  LS-37         M    10
8   HyRa         M    15
9   HyRa         M    15